@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.title-cards-section {
  font-family: "Lato", sans-serif;
  text-align: center;
}

.title-cards-section h2 {
  margin: 45px 0;
}
.main-cards-section {
  display: grid;
  justify-content: center;
}

.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-color: hsla(43, 100%, 51%, 0.14);
  color: hsl(43, 100%, 15%);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  max-width: 800px;
  text-align: center;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

.cards-section {
  display: grid;
  place-items: center;
  height: 100vh;
  row-gap: 50px;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  max-width: 1200px;
}

.grid-cell {
  padding: 6px;
  display: grid;
  place-items: center;
  font-size: 13px;
}

.grid-cell-title {
  font-weight: bold;
  background-color: #f3ac06;
  color: white;
}

.grid-profile-image {
  grid-area: 1 / 1 / 6 / 3;
  align-self: stretch;
  display: grid;
  place-items: center;
  background-color: #fae0a3;
}

.profile-picture {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  display: none;
}
.grid-title {
  grid-area: 1 / 3 / 2 / 7;
  text-align: center;
  font-weight: bold;
}
.grid-name {
  grid-area: 2 / 3 / 3 / 7;
  text-align: center;
  background-color: hsla(43, 100%, 51%, 0.14);
}
.grid-description {
  grid-area: 3 / 3 / 6 / 7;
}
.grid-mobile {
  grid-area: 6 / 1 / 7 / 2;
}
.grid-number {
  grid-area: 6 / 2 / 7 / 3;
  background-color: hsla(43, 100%, 51%, 0.14);
}
.grid-language {
  grid-area: 6 / 3 / 7 / 4;
}
.grid-languages {
  grid-area: 6 / 4 / 7 / 7;
  background-color: hsla(43, 100%, 51%, 0.14);
}
.grid-social {
  grid-area: 7 / 1 / 8 / 3;
  background-color: #d19200;
  text-align: center;
}
.grid-city-title {
  grid-area: 7 / 3 / 8 / 4;
  background-color: #df9e04;
}
.grid-city-name {
  grid-area: 7 / 4 / 8 / 5;
}
.grid-state-title {
  grid-area: 7 / 5 / 8 / 6;
}
.grid-state-name {
  grid-area: 7 / 6 / 8 / 7;
}
.grid-social-names {
  grid-area: 8 / 1 / 9 / 3;
  text-align: center;
  background-color: hsla(43, 100%, 51%, 0.14);
  display: flex;
  justify-content: center;
}
.grid-codepost-title {
  grid-area: 8 / 3 / 9 / 4;
  background-color: #ffb300df;
}
.grid-codepost-numbers {
  grid-area: 8 / 4 / 9 / 7;
  background-color: hsla(43, 100%, 51%, 0.14);
}
.contractor-profile {
  background-color: hsl(0, 0%, 89%);
  color: hsl(0, 0%, 22%);
}
.contractor-profile .grid-profile-image {
  background-color: #777777;
}
.contractor-profile .grid-cell-title {
  background-color: #999;
}
.contractor-profile .grid-name {
  background-color: #cccccc;
}
.contractor-profile .grid-number {
  background-color: #cccccc;
}
.contractor-profile .grid-languages {
  background-color: #cccccc;
}
.contractor-profile .grid-social {
  background-color: #7b7b7b;
}
.contractor-profile .grid-city-title {
  background-color: #8c8c8c;
}
.contractor-profile .grid-social-names {
  background-color: #cccccc;
}
.contractor-profile .grid-codepost-numbers {
  background-color: #cccccc;
}

.banker-profile {
  background-color: hsl(0, 0%, 95%);
  color: #2d2d2d;
}
.banker-profile .grid-profile-image {
  background-color: #2d2d2d;
}
.banker-profile .grid-cell-title {
  background-color: #000000;
}
.banker-profile .grid-name {
  background-color: #565656;
  color: white;
}
.banker-profile .grid-number {
  background-color: #565656;
  color: white;
}
.banker-profile .grid-languages {
  background-color: #565656;
  color: white;
}
.banker-profile .grid-social {
  background-color: #171717;
}
.banker-profile .grid-city-title {
  background-color: #252525;
}
.banker-profile .grid-social-names {
  background-color: #565656;
  color: white;
}
.banker-profile .grid-codepost-numbers {
  background-color: #565656;
  color: white;
}
.grid-icon {
  font-size: 20px;
  margin: 0 15px;
}
.grid-icon-white {
  color: white;
}
.grid-icon-black {
  color: black;
}
.grid-icon-black:hover {
  color: #df9e04;
}
.grid-icon-white:hover {
  color: #df9e04;
}

.search-bar {
  width: 90%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 10px;
  align-items: center;
  margin: auto;
  padding: 10px;
  background-color: #ffcb50;
  border: 3px solid #f3ac06;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

.search-bar input[type="text"] {
  flex: 2;
  padding: 8px 12px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.search-bar select {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.search-bar button {
  padding: 8px 16px;
  background-color: #0073aa;
  color: white;
  border: none;

  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #005f8d;
}

@media (max-width: 1100px) {
  .grid-cell {
    padding: 4px;
  }

  .search-bar {
    width: 90%;
    grid-template-columns: 1fr;
    padding: 5px;
  }

  .profile-picture {
    max-width: 130px;
  }

  .cards-container {
    grid-template-columns: 1fr;
    max-width: 500px;
  }
}

@media (max-width: 768px) {
  .main-cards-section {
    display: grid;
  }
  .contractor-container {
    width: 90vw;
  }
  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .cards-container {
    grid-template-columns: 1fr;
    justify-self: center;
  }

  .profile-picture {
    display: block;
  }

  .grid-profile-image {
    grid-area: 1 / 1 / 3 / 3;
    padding: 20px 0;
    background-image: none !important;
    background-size: none;
    background-position: none;
  }

  .grid-title {
    grid-area: 3 / 1 / 4 / 3;
  }

  .grid-name {
    grid-area: 4 / 1 / 5 / 3;
  }
  .grid-description {
    grid-area: 5 / 1 / 6 / 3;
  }
  .grid-mobile {
    grid-area: 6 / 1 / 7 / 2;
  }
  .grid-number {
    grid-area: 6 / 2 / 7 / 3;
  }
  .grid-language {
    grid-area: 7 / 1 / 8 / 2;
  }
  .grid-languages {
    grid-area: 7 / 2 / 8 / 3;
  }
  .grid-city-title {
    grid-area: 8 / 1 / 9 / 2;
  }
  .grid-city-name {
    grid-area: 8 / 2 / 9 / 3;
  }
  .grid-state-title {
    grid-area: 9 / 1 / 10 / 2;
  }
  .grid-state-name {
    grid-area: 9 / 2 / 10 / 3;
  }
  .grid-codepost-title {
    grid-area: 10 / 1 / 11 / 2;
  }
  .grid-codepost-numbers {
    grid-area: 10 / 2 / 11 / 3;
  }
  .grid-social {
    grid-area: 11 / 1 / 12 / 3;
  }
  .grid-social-names {
    grid-area: 12 / 1 / 13 / 3;
  }
}
